<div>
    <div class="row top">
        <div class="col-md-3">
            <app-graphic [lineChartData]="lineChartData" ></app-graphic>
        </div>
        <div class="col-md-3">
            <app-graphic [lineChartData]="lineChartCurrentData" ></app-graphic>
        </div>
        <div class="col-md-3">
            <app-graphic [lineChartData]="lineChartThdiData" ></app-graphic>
        </div>
        <div class="col-md-3">
            <app-graphic [lineChartData]="lineChartThdvData" ></app-graphic>
        </div>
        <!-- <div class="col-md-6" style="margin-bottom: 10px">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
    </div> -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-graphic [lineChartData]="lineChartWattData" ></app-graphic>
        </div>
        <div class="col-md-4">
            <app-graphic [lineChartData]="lineChartVarData" ></app-graphic>
        </div>
        <div class="col-md-4">
            <app-graphic [lineChartData]="lineChartVaData" ></app-graphic>
        </div>
    </div>
</div>