<div class="home">
</div>
<!-- <div class="row">
    <div class="col-sm-6">
        <div class="card introduccion">
            <div class="card-body text-style">
                <h5 class="card-title"><strong>Medidor de energía trifasico</strong></h5>
                <p class="card-text text-style">Implementación del estandar IEEE 1459 del 2010 para medición de cargas desbalanceadas,
                    <br> con el fin de tener una referencia de error en las mediciones actuales.
                    <br>
                    <br>
                    <button class="btn btn-primary">Empezar</button>
                </p>

            </div>
        </div>
    </div>
</div> -->
