.home {
  height: 95vh;
  background-image: url('../../../assets/vector.jpg');
  background-size: cover;
  background-position: center;
/* background-image: url('../../../assets/vector.jpg');
  opacity: 0.2;
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.introduccion {
opacity: 1;
margin-bottom: 10px; /* Added */
margin-left: 400px; /* Added */
margin-top: 150px; /* Added */
}

.text-style {    
position: fixed;
font-weight: 200;
}

.card-style {
  margin-top: 20%;
  background-color: #fff0;
  border: rgba(0,0,0,.0);
}

.position {
  margin-left: 25%;
}