<div class="home">
    <div class="row position">
        <div class="card card-style">
            <div class="card-body" style="text-align: center">
                <h5 class="card-title"><strong>Medidor de energía trifasico</strong></h5>
                <p class="card-text">Implementación del estandar IEEE 1459 del 2010 para medición de cargas desbalanceadas,
                    <br> con el fin de tener una referencia de error en las mediciones actuales.
                    <br>
                    <br>
                    <button class="btn btn-primary">Empezar</button>
                </p>
            </div>
        </div>
    </div>
</div>
